.result {
  min-height: 50vh;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}
.result h1 {
  padding: 2%;
}
.noitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noitem button {
    width: 150px;
    height: 50px;
    background-color: #6179b7;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
