.userSetting
{
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sidebySide {
    display: flex;
    align-items: center; /* Aligns items vertically (centered) */
    gap: 10px; /* Adds space between elements */
}

.sidebySide p {
    margin-right: 10px; /* Adds space between the label and input */
    width: 100px; /* You can adjust this to fit your label text */
}

.sidebySide input {
    flex-grow: 1; /* Makes input fields take the remaining available space */
}
