/* src/components/ProductPage.css */

.product-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.category-path {
  padding: 2rem 0;
}

.product-details {
  display: flex;
  justify-content: space-between;
}


.image-thumbnails-container {
  display: flex;
}

.image-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-thumbnails img {
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.image-thumbnails img.active {
  border-color: blue;
}

.main-image{
  display: block;
  max-width: 50%;
  max-height: 500px;
  padding: 1rem;
}

/* product text info */

.product-details-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 500px; */
  min-height: 70vh;


}

.product-details-text h1 {
  font-size: 1.5rem;
  margin: 0;
}

.product-details-text p {
  margin: 0;
}

.text-info{
  display: flex;
  flex-direction: column;
}

.text-info p{
  padding: .3rem 0;
}




/* size section */

.size-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 1rem 0;
}

.size-btn{
  border-radius: 5px;
  margin: 0 1rem;
  padding: 10px 20px;
  border: 1px solid black;
}

/* color select */
.color-select-wrapper{
  display: flex;
  align-items: center;
}

.color-select-wrapper h4 {
  margin-right: 1rem;
}

.product-card-container-related {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  max-width: 300px;
  /* padding: 0 1rem; */
}

.product-image {
  max-width: 240px;
  /* max-height: 100%; */
  /* object-fit: cover; */
}

.image-container {
  background: #3f8af4;
  position: relative;
  border-radius: 5px;
}

.image-container .wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  padding: 0.3rem;
  background: white;
  border-radius: 50%;
}

.image-container:hover .add-to-cart {
  display: block; /* Make the button visible on hover */
}

.add-to-cart {
  width: 100%;
  padding: 1rem 0;
  display: none;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #333333;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.product-info {
  line-height: 2rem;
  margin-top: 1rem;
}

.product-info > * {
  margin: 0;
}


/* delivery section */
.delivery-container {
  display: flex;
  flex-direction: column;
}

.delivery {
  display: flex;
  border: solid 2px black;
  padding: 1rem;
  align-items: center;
}

.delivery:first-child {
  border-bottom: 0;
}

.delivery i {
  font-size: 2rem;
}

.delivery-header {
  font-size: 1.2rem;
  margin: 0;
}

.delivery-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  font-size: 0.7rem;
}

.delivery-container p {
  margin-bottom: .3rem;
}

/* Buy now section */

.buy-now-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-bottom: 1rem;
  /* align-items: center; */
}

.button-wrapper {
  display: flex;
}

.heart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #434141;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}

.change-quality {
  padding: 0 1rem;
  font-size: 2rem;
  border: 1px solid black;
}

.buy-now-btn {
  padding: 1rem 1.5rem;
  background: #6179b7;
  border-radius: 5px;
}

.quantity-display {
  padding: 1rem 2rem;
  background: white;
  margin: auto;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
 /* related item */

 .related-items-container {
  margin: 1rem 0;
  display: flex;

 }

 .related-items-container p {
  display: inline-block;

 }

 .related-items-padding {
  background: purple;
  padding: .5rem;
  display: inline-block;
  margin-right: 1rem;
 }



@media (max-width: 768px) {
  .product-page-wrapper {
    padding: 1rem;
  }

  .product-details {
    flex-direction: column;
  }

  .main-image {
    max-width: 100%;
    max-height: 300px;
  }

  .image-thumbnails {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .product-details-text {
    margin-top: 1rem;
    min-height: auto;
  }

  .buy-now-container {
    flex-direction: column;

  }

  .button-wrapper {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .size-wrapper {
    flex-wrap: wrap;
  }

  .size-btn {
    padding: 8px 16px;
  }

  .buy-now-container {
    flex-wrap: wrap;
  }

  .related-items-container {
    flex-direction: column;
  }

  .product-card-container-related {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 100%;
    margin-bottom: 1rem;
  }

  .product-image {
    max-width: 100%;
  }

  .color-text-wrapper {
    padding: 1rem 0;
  }
}


@media (max-width: 768px) {
  .product-page-wrapper {
    padding: 1rem;
  }

  .main-image {
    max-width: 80%;
    max-height: 200px;
    align-self: center;
  }

  .image-thumbnails{
    justify-content: space-between;
  }

  .image-thumbnails img {
    max-width: 80px;
    max-height: 80px; 
  }


  .color-select-wrapper {
    flex-direction: flex;
    align-items: flex-start;
    padding: .5rem 0;
  }

  .color-radio {
    margin: 0 10px;
  }

  .size-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .size-wrapper button {
    margin: 10px 10px;
  }


  .size-btn {
    margin: 0.5rem 0;
  }

  .buy-now-container {
    flex-direction: row;
    align-items: center;
  }

  .buy-now-btn {
    padding: 1rem 1rem;
    color: white;
  }

  .button-wrapper {
    margin: 0;
  }

  .heart-icon {
    margin: 0;
    padding: 1rem;
  }

  .change-quality {
    border-radius: 5px;
  }


  .delivery-container {
    margin-top: 1rem;
  }

  .related-items-container{
    flex-direction: row;
    align-items: center;
  }

  .related-items-padding {
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 10%;
  }
}

/* Large screens (above 1200px) */
/* @media (min-width: 1200px) {
  .product-page-wrapper {
    padding: 2rem 5rem;
  }

  .main-image {
    max-width: 60%;
    max-height: 600px;
  }

  .image-thumbnails img {
    max-width: 120px;
    max-height: 120px;
  }

  .buy-now-container {
    justify-content: space-between;
  }

  .product-card-container-related {
    justify-content: space-between;
    gap: 2rem;
  }

  .product-card {
    width: 30%;
  }
} */
