

.white-rectangle {
    background-color: white;
    width: 1000px;
    height: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.invisible-rectangle {
    /*background-color: #3F8AF4;*/
    margin-left: 1rem;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-stuff {
    list-style-type: none;
    padding-left: 13rem;
    padding-bottom: 5rem;
    font-size: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex;
}

.submit-stuff li {
    margin-bottom: 1rem;
}

.login-title {
    margin-bottom: 5rem;
}

.create-title {
    margin-bottom: 1rem;
    padding-top: 2.5rem;
}

.submit-stuff input,
.submit-stuff button {
    font-size: 18px;
    padding: 10px;
}

.submit-stuff button {
    background-color: #6179B7;
    color: white;
}

.submit-stuff button:hover {
    background-color: #334c8a;
}

.switch-to-create {
    color: #6179B7;
    text-decoration: none;
}

.switch-to-create:hover {
    color: #334c8a;
}

.image {
    width: 500px;
    margin-left: 6rem;
}